<script>

import { dice } from '../utils/zufall.js';

export default {
    name: 'Lotto',
    data() {
	return {
	    headline: 'Ziehung (Version IV)',
	    msg: 'Wird das der grosse Gewinn?',
	    anzahl: 6,
	    min: 1,
	    max: 49,
	    zahlen: [1,2,3,4,5,6]
	}
    },
    methods: {	
	ziehung() {
	    this.zahlen = dice(this.min, this.max, this.anzahl)
	}
    }
}
</script>

 <template>
  <div>
    <h1>{{ this.headline }}</h1>
    <h2>{{ this.msg }}</h2>
    <ul>
      <span v-for="item in this.zahlen"
          class="dib pa3">
    {{ item }} , 
      </span>
    </ul>
    <button @click="this.ziehung()"> Neuer Wurf</button>
    <p style="padding:5px">
    </p>
    <hr/>
    Debug-Ausgaben

    <hr/>	
    <p>Ein einzelner Werte mit der Punktnotation</p>
    <p> max: {{ this.max }} (this.max)</p>
  </div>
</template>

