<template>
  <div>
    <h1>{{ data.headline }}</h1>
    <h2>{{ data.msg }}</h2>
    <hr/>
    Debug-Ausgaben
    <hr/>
    <button @click=""> {{ data.max }}</button>	
    <p>
      {{ data }}
    </p>
    <p>Ein einzelner Werte mit der Punktnotation</p>
    <p> max: {{ data.max }} </p>
  </div>
</template>

<script>
export default {
  name: 'Lotto2',
  setup () {
    const data = {
      headline: 'Lotto',
      msg: 'Wird das der grosse Gewinn?',
      anzahl: 6,
      min: 1,
      max: 49,
      zahlen: [1,2,3,4,5,6,7]
    }

    return {
      data
    }
  }
}
</script>
