html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
  }
  
  
  h1 {
    font-size: 40px;
    text-align: center;
  }
  
  p, li {
    font-size: 10px;
    line-height: 2;
    letter-spacing: 1px;
  }
    
  html {
    background-color: #00539F;
  }
  
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid darkblue;
  }
  
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }

 table{
     border:1px solid black;
     margin-left:auto;
     margin-right:auto;
 }

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }
