<script setup>
import ExpBeschreibung from "@/components/ExpBeschreibung.vue";
// variable
const msg = "Klick mich... :-)";

// functions
function log() {
  console.log(msg);
}
</script>

<template>
  <h1 class="f2 lh-title fw9 mb3 mt0 pt3">EXPERIMENT</h1>
  <ExpBeschreibung topic="- Ausgabe einer lokalen Zeichenkette..." />
  <ExpBeschreibung topic="- CSS für die Tabelle nutzt Tachyons-Klassen." />
  <ExpBeschreibung topic="- Ausgabe mit console.log" />
  <ExpBeschreibung topic="- Reaktion auf ein Klick-Ereignis." />
  <div>
    <h2>Lokale Ausgaben</h2>
    <div class="bg-yellow w-40 pa4"
         @click="log">{{ msg }}</div>
    <p>
      Beobachten Sie die Ausgaben in der Entwickler-Konsole, wenn Sie den Text
      anklicken.
    </p>
  </div>
</template>
