<script setup>
import ExpBeschreibung from "@/components/ExpBeschreibung.vue";
const team = [

    {
        anrede: "",
        vname: "Pitti",
        nname: "Platsch"
    },{
        anrede: "",
        vname: "Bummi",
        nname: ""
    },{
        anrede: "",
        vname: "Schnatterinchen",
        nname: ""
    },{
        anrede: "Herr",
        vname: "",
        nname: "Fuchs"
    },{
        anrede: "Frau",
        vname: "",
        nname: "Elster"
    }, {
        anrede: "Meister",
        vname: "",
        nname: "Nadelöhr"
    },
]

</script>

<template>
  <h1 class="f2 lh-title fw9 mb3 mt0 pt3">EXPERIMENT</h1>
  <ExpBeschreibung topic="- Ausgabe eines Objektes als Tabelle mit v-for." />
  <ExpBeschreibung topic="- CSS für die Tabelle nutzt Tachyons-Klassen." />
  <div>
    <h3 class=""></h3>
    <table class="collapse ba br2 b--black-10 pv2 ph3 mt4">
      <thead>
	<tr>
	  <th class="pv2 ph3 tl f6 fw6 ttu">Anrede</th>
	  <th class="pv2 ph3 tl f6 fw6 ttu">Vorname</th>
	  <th class="pv2 ph3 tl f6 fw6 ttu">Nachname</th>
	</tr>
      </thead>
      <tbody>
	<tr v-for="(member,idx) in team" :key="idx"
	    class="striped--near-white">
	  <td class="pv2 ph3">{{member.anrede}}</td>
	  <td class="pv2 ph3">{{member.vname}}</td>
	  <td class="pv2 ph3">{{member.nname}}</td>
	</tr>
      </tbody>
    </table>
  </div>    
</template>
