<script>
import {reactive} from "vue";
import ExpBeschreibung from "@/components/ExpBeschreibung.vue";

export default {
  components: {
  'ExpBeschreibung': ExpBeschreibung,
  },
  data() {
    return {
      werte: reactive({
        geburtstag: '01.01.2000',
        maxalter: 60,
        geboren: "",
        endoflife: "",
        lebenszeit: 0,
        gelebt: 0,
        record:0,
        KaneTakana: 119
      }),
      tage: 0,
      parts: ""
    }
  },
  methods: {
    calcValue() {
      
      // Berechnung auf Wochen runterbrechen
      console.log(this.werte)
      this.tage = this.werte.geburtstag;
      this.parts = this.tage.split('.');
      this.werte.geboren = new Date(this.parts[2], this.parts[1] - 1, this.parts[0]);
      this.werte.endoflife = new Date(parseInt(this.parts[2]) +  this.werte.maxalter,
                      this.parts[1] - 1, this.parts[0]);
      this.werte.KaneTakana = new Date(parseInt(this.parts[2])+119,
                       this.parts[1] - 1, this.parts[0]);
      
      // Differenz als Zeitangabe
      
      let difflebenszeit = this.werte.endoflife - this.werte.geboren;
      let diffgelebt = Date.now() - this.werte.geboren;
      let diffrecord = this.werte.KaneTakana - this.werte.geboren
      
      // Umrechung in Tage und in Wochen abschließend gerundet
      
      this.werte.lebenszeit = Math.round(difflebenszeit / (1000 * 3600 * 24) /7);
      this.werte.gelebt = Math.round(diffgelebt / (1000 * 3600 * 24) /7);
      this.werte.record = Math.round(diffrecord / (1000 * 3600 * 24) /7);
      console.log(this.werte.maxalter);
      console.log(this.werte.geburtstag);
      
      localStorage.setItem("MementoMori",
          JSON.stringify(
          {maxalter: this.werte.maxalter,
          geburtstag: this.werte.geburtstag}));
      
    }
  },
  created() {
    const mmStoredValues = JSON.parse(localStorage.getItem('MementoMori'));
    console.log(mmStoredValues,'####################')
    if(mmStoredValues
       && mmStoredValues.hasOwnProperty('geburtstag')
       && mmStoredValues.hasOwnProperty('maxalter') ){
      this.werte.geburtstag = mmStoredValues.geburtstag;
      this.werte.maxalter = parseInt(mmStoredValues.maxalter);
      
    }else{
      this.werte.geburtstag = '01.01.2000';
      this.werte.maxalter = 60;
    }
    this.calcValue();
  },
};

</script>
<template>
  <div>
  <h2>Merken, für die Ewigkeit</h2>
  
  <ExpBeschreibung topic="- Memento Mori: Auch das Leben ist ein Lotteriespiel!" />
  <ExpBeschreibung topic="- Daten aus dem Localstorage lesen oder dort speichern" />
  <ExpBeschreibung topic="Beachte: https://dev.to/rdegges/please-stop-using-local-storage-1i04" />
  <hr/>
  <p>Geburtsdatum:
  <input type="text"
       size="8"
       v-model="this.werte.geburtstag"
       @change="calcValue()"
       />
  &nbsp;Wie alt willst Du werden? <input type="text"
                       size="3"
                       v-model.number="this.werte.maxalter"
                       @change="calcValue()"
                       />
  </p>
  <p>Lebenserwartung in Deutschland
    Mädchen in Deutschland 83,4 Jahre,
    Jungen 78,6 Jahre (Quelle: DEStatis 2022)
  </p>
  <p>
    Kane Tanaka, eine japanische Frau galt als der älteste Mensch
    und ist nun im Alter von 119 Jahren gestorben.
  </p>
  <p>Frabcode: 
    <span class="done pa1">schon gelebt</span>&nbsp;
    <span class="open pa1">Zeit zu leben</span>&nbsp;
    <span class="record pa1">So alt werden wie Kane Takana!</span>
    Eine Zeile = drei Jahre</p>
  <span v-for="i in this.werte.record"
      class="f6">
    <span v-if="i % 156 == 1"><br/></span>
    <span v-if="i <= this.werte.gelebt"
      class="done">x</span>
    <span v-if="(i > this.werte.gelebt) && (i < this.werte.lebenszeit)"
      class="open">x</span>
    <span v-if="i >= this.werte.lebenszeit"
      class="record">x</span>
  </span>
  <p></p>
  </div>
</template>
