<script>
import ExpBeschreibung from "@/components/ExpBeschreibung.vue";

import { vuexstore } from "../stores/mementomori_vuex.js";
import { mapGetters, mapMutations } from 'vuex'

export default {
    name: 'Exp006VuexLocalStorage',
    components: {
        'ExpBeschreibung': ExpBeschreibung,
    },
    methods: {
        ...mapGetters([
            'geburtstag',
        ])
    },
    computed: {
        maxalter () {
            return vuexstore.state.maxalter
        }
    }
}

</script>

<template>
  <div>
    <h2>Merken, für die Ewigkeit</h2>
    <ExpBeschreibung topic="- Memento Mori: Auch das Leben ist ein Lotteriespiel!" />
    <ExpBeschreibung topic="- Daten aus dem Vuex-Store lesen oder dort speichern" />

    <p>Ausgangswerte: {{ geburtstag() }} und {{ maxalter }}</p>

</div>
</template>
