<script setup>
import ExpBeschreibung from "@/components/ExpBeschreibung.vue";
</script>

<template>
  <main>
    <ExpBeschreibung topic="???" />
  </main>
  <div>
    <h2>Lokale Ausgaben</h2>
    <p>Noch zu definieren...</p>
  </div>
</template>
