<script setup>
import { ref } from "vue";
import ExpBeschreibung from "@/components/ExpBeschreibung.vue";
import lotto2021 from "@/stores/lotto2021.json";
let start = 10;
let stop = 15;
let refstart = ref(20);
let refbatchsize = ref(4);

const jumpto = (idx) => {
  refstart.value = parseInt(idx);
};

const prev = (idx) => {
  refstart.value -= parseInt(idx);
};

const next = (idx) => {
  refstart.value += parseInt(idx);
};

const setbatch = (idx) => {
  refbatchsize.value = parseInt(idx);
};

</script>

<template>
    <h1><ExpBeschreibung topic="»Reactive References«" /></h1>
    <ExpBeschreibung topic="Referenzen syncronisieren alle Nutzer, wenn es Änderungen gibt." />
    <ExpBeschreibung topic="Hier demonstiert, durch die Implementierung einer Navigation." />
    <div>
      <h2>Schritt I: Ausgabe eines einzelnen Eintrags</h2>
      <p>{{lotto2021[5]}}</p>
    </div>

    <!--div>
      <h2>Schritt II: Ein Batch für mehrer Einträge</h2>
      <div v-for="ziehung in lotto2021.slice(refstart, refstart+refbatchsize)">
        {{ziehung}}
      </div>

      <hr>
      <p>Geben Sie bitte einen Wert zwischen 0 und {{lotto2021.length-1}} ein:</p>
      <p><input type="text"
		size="3"
		v-model.number="refstart"
		@update='jumpto(this.value)'/></p>
  </div-->
  <!--div>
      <h2>Schritt III: Steuerung des Startwertes</h2>
      <div v-for="ziehung in lotto2021.slice(refstart, refstart+refbatchsize)">
        {{ziehung}}
      </div>

      <hr>
      <p>Geben Sie bitte einen Wert zwischen 0 und {{lotto2021.length-1}} ein:</p>
      <p>Start: <input type="text"
		size="3"
		v-model.number="refstart"
		@update='jumpto(this.value)'/></p>
      <button @click="next(10)">+10</button>&nbsp;
      <button @click="next(1)">+1</button>&nbsp;
      <button @click="prev(1)">-1</button>&nbsp;
      <button @click="prev(10)">-10</button>&nbsp;
      <hr>
      
  </div-->

  <!--div>
      <h2>Schritt IV: Batch variable Eingabe</h2>
      <div v-for="ziehung in lotto2021.slice(refstart, refstart+refbatchsize)">
        {{ziehung}}
      </div>

      <hr>
      <p>Geben Sie bitte einen Wert zwischen 0 und {{lotto2021.length-1}} ein:</p>
      <p>Start: <input type="text"
		size="3"
		v-model.number="refstart"
		       @update='jumpto(this.value)'/>
      Batchsize: <input type="text"
		size="3"
		v-model.number="refbatchsize"
		@update='setbatch(this.value)'/>
      </p>
      <button @click="next(10)">+10</button>&nbsp;
      <button @click="next(1)">+1</button>&nbsp;
      <button @click="prev(1)">-1</button>&nbsp;
      <button @click="prev(10)">-10</button>&nbsp;
      <hr>
      
  </div-->

  
</template>
