<script setup>

import ExpBeschreibung from "@/components/ExpBeschreibung.vue";
import { storeToRefs } from 'pinia';
import { useLottoStore} from '@/stores/lotto-store.jsx';
const { lotto2021, start, batchsize } = storeToRefs(useLottoStore());
const { fill, jumpto, next, prev, setbatch} = useLottoStore();
fill();

</script>

<template>
  <main>
    <ExpBeschreibung topic="Referenzen diesmal in einen Store verlagern." />
    <ExpBeschreibung topic="Pinia bietet die Funktionalität" />
    <ExpBeschreibung topic="Neben Vuex bietet Pinia einen zweiten Lösungsansatz." />
  </main>
  <div>
      <h2>Daten und Funktionalität aus dem Store</h2>
      <div v-for="ziehung in lotto2021.slice(start, start+batchsize)">
        {{ziehung}}
      </div>
      <hr>
      <p>Geben Sie bitte einen Wert zwischen 0 und {{lotto2021.length-1}} ein:</p>
      <p>Start: <input type="text"
		size="3"
		v-model.number="start"
		       @update='jumpto(this.value)'/>
      Batchsize: <input type="text"
		size="3"
		v-model.number="batchsize"
		@update='setbatch(this.value)'/>
      </p>
      <button @click="next(10)">+10</button>&nbsp;
      <button @click="next(1)">+1</button>&nbsp;
      <button @click="prev(1)">-1</button>&nbsp;
      <button @click="prev(10)">-10</button>&nbsp;
      <hr>      
  </div>
</template>
